body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/114/097/non_2x/free-vector-degrade-background.jpg");
    background-size: auto 100vh;
      font-family: Arial;
      height: 100vh;
  }
  
  .menu {
    background-color: white; 
  }
  
  a {
    color: teal;
    text-decoration: none;
    }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }
